<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlockChain.Miner.Properties.WebServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <BlockChain.Miner.Properties.WebServerSettings>
            <setting name="Host" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>8888</value>
            </setting>
            <setting name="NodeName" serializeAs="String">
                <value>Node 1</value>
            </setting>
            <setting name="BlockTime" serializeAs="String">
                <value>20</value>
            </setting>
        </BlockChain.Miner.Properties.WebServerSettings>
    </userSettings>
</configuration>