[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"
pytest-coverage = "*"

[requires]
python_version = "3.6"

[packages]
Flask = "==0.12.2"
requests = "==2.18.4"
